@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('./nav.css');
@import url('./inputs.css');

.card{
	@apply shadow-[0_0_20px_4px_rgba(0,0,0,0.2)] rounded-3xl 
}

.grid-center-container{
	@apply flex flex-col items-center mt-2
}

.primary-button{
  @apply  items-center p-2 font-vazir font-bold rounded-md hover:rounded-3xl bg-primary-500 shadow-xl text-white  mx-4  mt-4 transition-all duration-500 flex-grow
  }

.animate{
  @apply transition-all duration-500
}
.animateShadow{
  @apply transition-all duration-500 shadow-[0_0_3px_0] rounded-md hover:rounded-3xl shadow-sky-400
}
ul > li.footer{
  @apply  text-center  p-1
}
ul>li:first-child.footer {
  @apply  font-bold text-base
}
ul > li:not(:first-child).footer{
  @apply text-gray-600 text-sm
}
ul.footer{
  @apply p-2
}
@font-face {
  font-family: 'yekan';
  src: url('/fonts/Far_Yekan.ttf') format('truetype');
}
@font-face {
  font-family: 'vazir';
  src:  url('/fonts/Vazir.ttf') format('truetype');
}
@font-face {
  font-family: 'homa';
  src: url('/fonts/Far_Homa.ttf') format('truetype');
}
@font-face {
  font-family: 'iransans';
  src: url('/fonts/IranianSans.ttf') format('truetype');
}
@font-face {
  font-family: 'samim';
  src:  url('/fonts/Samim.ttf') format('truetype');
}
@font-face {
  font-family: 'diroozFD';
  src:  url('/fonts/Dirooz-FD-WOL.ttf') format('truetype');
}
@font-face {
  font-family: 'parastooFD';
  src:  url('/fonts/Parastoo-FD.ttf') format('truetype');
}
@font-face {
  font-family: 'sahelFD';
  src:  url('/fonts/Sahel-FD.ttf') format('truetype');
}
@font-face {
  font-family: 'samimFD';
  src:  url('/fonts/Samim-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'vazirFD';
  src:  url('/fonts/Vazir-FD-WOL.ttf') format('truetype');
}
